<div class="guides-container" jigsawScrollBar scrollBarAxis="y" [scrollBarSnapAmount]="10" [scrollBarScrollAmount]="80">
  <span class="guides-switch-lang"><a (click)="switchLang()">{{'switchLang' | translate}}</a></span>
  <div class="guides-section" *ngFor="let section of sections">
    <h3>{{ (section + '.header') | translate }}</h3>
    <p [innerHtml]=" (section + '.detail' | translate) "></p>
  </div>
</div>
<style>
  .guides-switch-lang {
    float: right;
  }

  .guides-switch-lang a {
    color: #fff;
    font-size: 14px;
  }
</style>
