.title {
  height: 96px;
  min-width: 985px;
  margin: 12px 12px 6px 12px;
  color: #fff;
}

.logo {
  display: inline-block;
}

.logo h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 12px;
}

.logo p {
  margin-left: 128px;
}

.nav-bar {
  display: inline-block;
  float: right;
  margin-right: 6px
}

.nav-bar a, .nav-bar a:hover, .nav-bar a:focus {
  margin-top: 6px;
  font-size: 14px;
  background: transparent;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.nav-bar a:hover {
  border-bottom: 2px solid #ec6d6d;
}

.menu {
  background-color: #fff;
  padding: 4px 4px 4px 2px;
  line-height: 32px;
  opacity: 0.9;

  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.menu li {
  color: #666;
  width: 80px;
  margin-left: 2px;
  padding-left: 6px;
  cursor: pointer;
}

.menu li:hover {
  color: #666;
  background-color: #7ec0f6;
}
