
.view {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding: 12px 12px 12px 12px;

  box-shadow: 0 0 20px rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .9);

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.toolbar {
  margin-bottom: 12px;
  text-align: right;
}

.content {
}
