
.view {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  height: calc(100vh - 126px);

  padding: 12px 12px 12px 12px;
}

.toolbar {
  margin-bottom: 12px;
  text-align: right;
}

.content {
}
