/* Master Styles */
body {
  margin: 0;
  height: calc(100vh - 16px);
  background: linear-gradient(to bottom, #2d69f0 0%, #7ec0f6 100%);
  background-image:-moz-linear-gradient(270deg,#2d69f0,#7ec0f6);
}

body, input[text], button {
  font-family: Cambria, Georgia;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


